body 
{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container 
{
   
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.producto {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 230px; /* Ancho fijo de 200 píxeles */
  box-sizing: border-box;
}


.product img 
{
  max-width: 100%;
}


.quantity 
{
  display: flex;
  align-items: center;
}

.quantity input[type="text"] 
{
  width: 40px;
  text-align: center;
}

.quantity button 
{
  margin: 0 5px;
  cursor: pointer;
}
